<header>
    <h1>Burger of the Day</h1>
</header>
<h1>burgers!</h1>

<div class="container">
    <div class="flex-container">
        <section class="avail-burgers">
            <h2>Daily Specials</h2>
            <ul>
                {{#each burger}}
                {{#unless devoured}}
                <li>
                    <h4><button class="delete" data-id="{{id}}">X</button>
                        {{burger_name}}
                        <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
                            {{#if devoured}}Devour{{/if}}
                        </button></h4>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </section>


    </div>

    <h2>Add a burger</h2>
    <div class="forms">
        <form class="create-form">

            <div class="form-group">
                <label for="botd">burger Name:</label>
                <input type="text" id="botd" name="name">
            </div>

            <button type="submit">Add burger</button>
        </form>
    </div>
</div>